/* 576px to 768px Small */
@media screen and (min-width: 576px){
    
    /* Sidebar */
    .sidebar {
        flex-basis: 190px;
        align-items: flex-start;
    }
    
    .hidden {
        display: block;
    }
    
    .install {
        padding-bottom: 30px;
        border-bottom: 1px solid lightgray;
    }
    
    .sidebar img {
        margin-right: 5px;
    }

    .logo-sm {
        display: none;
    }

    img.logo-md {
        width: 120px;
    }
    
    
    /* Navbar main */
    .navbar-main .row.wrap > * {
        flex-basis: calc(100% / 3);
    }
    
    
}


/* 768px to 1200 medium*/
@media screen and (min-width: 768px){
    /* Icon left player */
    .icon-left {
        display: flex;
        gap: 5px;
    }
    
    /* Navbar main */
    .navbar-main .row.wrap > * {
        flex-basis: 20%;
    }

    /* Content */
    .recent .row.wrap > * {
        flex-basis: 25%;
    }
}

/* 1200px to up large */
@media screen and (min-width: 1200px){
    /* Navbar main */
    .navbar-main .row.wrap {
        flex-wrap: nowrap;
    }
    /* Content */
    .recent .row.wrap {
        flex-wrap: nowrap;
    }


}


