/* 576px to 768px Small */
@media screen and (min-width: 576px){
    
    /* Sidebar */
    .sidebar {
        flex-basis: 180px;
        align-items: stretch;
    }
    
    .hidden {
        display: block;
    }
    
    .install {
        padding-bottom: 20px;
        border-bottom: 1px solid #8b8b8b;
    }
    
    .sidebar img {
        margin-right: 5px;
    }

    .logo-sm {
        display: none;
    }

    img.logo-md {
        width: 120px;
    }

    /* Border effect */
    .sidebar {
        padding: 0;
    }

    .sidebar .logo,
    ul.playlist-items,
    .sidebar-bottom {
        padding: 15px;
    }

    .sidebar .home {
        border-left: 3px solid greenyellow;
        padding-left: 12px;
    }

    .sidebar nav > * {
        padding-left: 15px;
    }

    /* Navbar main */
    .navbar-main .row.wrap > * {
        flex-basis: calc(100% / 3);
    }
    
}


/* 768px to 1200 medium*/
@media screen and (min-width: 768px){
    /* Icon left player */
    .icon-left {
        display: flex;
        gap: 5px;
    }
    
    /* Navbar main */
    .navbar-main .row.wrap > * {
        flex-basis: 20%;
    }

    /* Content */
    .content .row.wrap > * {
        flex-basis: 25%;
    }
}

/* 1200px to up large */
@media screen and (min-width: 1200px){
    /* Navbar main */
    .navbar-main .row.wrap {
        flex-wrap: nowrap;
    }

    /* Content */
    .content .row.wrap > * {
        flex-basis: calc(100% / 6);
    }


}


